.footer {
	text-align: center;

	&__text {
		@media #{$mobileMedium} {
			margin: 0 auto;
			width: 90%;
		}
	}

	&__icon-row {
		margin-top: 0.5%;

		@media #{$tabletLandscape} {
			margin-top: 1.5%;
		}
	}

	&__icon-link {
		margin: 0 0.375%;
		transition: $transitionSmoothShort;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				color: $glacier;
				opacity: 0.75;
			}
		}
	}

	// &__icon {
	// }
}
