.footer {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	color: $white;
	text-align: center;

	&__text {
	}

	&__icon-row {
		font-size: 1.5rem;
		margin-top: 3%;
	}

	&__icon {
		margin: 0 1.5%;
		transition: all 175ms ease-in-out;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				opacity: 0.66;
			}
		}
	}
}
