// BREAKPOINTS
$desktop-4k: 'only screen and (min-width: 3840px)';
$desktop-1440p: 'only screen and (max-width: 2560px)';
$desktop-hd: 'only screen and (max-width: 1920px)';
$desktop-medium: 'only screen and (max-width: 1680px)';
$desktop-small: 'only screen and (max-width: 1440px)';
$laptop: 'only screen and (max-width: 1366px)';
$laptop-small: 'only screen and (max-width: 1280px)';
$tablet-landscape: 'only screen and (max-width: 1024px)';
$tablet-medium: 'only screen and (max-width: 900px)';
$tablet-portrait: 'only screen and (max-width: 768px)';
$mobile-xlarge: 'only screen and (max-width: 640px)';
$mobile-large: 'only screen and (max-width: 576px)';
$mobile-medium: 'only screen and (max-width: 480px)';
$mobile-small: 'only screen and (max-width: 415px)';
$mobile-xsmall: 'only screen and (max-width: 375px)';
$mobile-tiny: 'only screen and (max-width: 325px)';
