// FONTS
$fontRoboto: 'Roboto', sans-serif;

// SHADES
$white: #fff;
$whiteSmoke: #eee;
$black: #000;

// COLORS
$blueWhale: #203a43;
$tangaroa: #0f2027;

// BREAKPOINTS
$desktop4k: 'only screen and (min-width: 3840px)';
$desktop1440p: 'only screen and (max-width: 2560px)';
$desktopHD: 'only screen and (max-width: 1920px)';
$desktopMedium: 'only screen and (max-width: 1680px)';
$desktopSmall: 'only screen and (max-width: 1440px)';
$laptop: 'only screen and (max-width: 1366px)';
$laptopSmall: 'only screen and (max-width: 1280px)';
$tabletLandscape: 'only screen and (max-width: 1024px)';
$tabletMedium: 'only screen and (max-width: 900px)';
$tabletPortrait: 'only screen and (max-width: 768px)';
$mobileXLarge: 'only screen and (max-width: 640px)';
$mobileLarge: 'only screen and (max-width: 576px)';
$mobile-Medium: 'only screen and (max-width: 480px)';
$mobileSmall: 'only screen and (max-width: 415px)';
$mobileXSsmall: 'only screen and (max-width: 375px)';
$mobileTiny: 'only screen and (max-width: 325px)';
