html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 62.5%;
  }
}

body {
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

p,
label {
  font-size: 1.125rem;
  line-height: 1.4;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
  zoom: 1;
}

.footer {
  text-align: center;
}

.footer__icon-row {
  margin-top: 0.5%;
}

.footer__icon-link {
  margin: 0 0.375%;
  transition: all 175ms ease-in-out;
}

@media (hover) {
  .footer__icon-link:hover, .footer__icon-link:active, .footer__icon-link:focus {
    color: #6ea4bf;
    opacity: 0.75;
  }
}

.formatter {
  margin: 3.5% 0;
}

.formatter__row {
  display: flex;
  align-items: flex-start;
}

.formatter__box:first-of-type {
  flex: 0 0 70%;
  margin-right: 5%;
}

.formatter__box:last-of-type {
  flex: 1;
}

.formatter__group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.formatter__group:first-of-type {
  margin-bottom: 4%;
}

.formatter__textarea-label {
  font-size: 1.5rem;
  font-weight: 600;
}

.formatter__textarea {
  height: 10vw;
  width: 100%;
  resize: none;
  padding: 0.5rem;
  margin-bottom: 1%;
  font-size: 1.125rem;
}

.formatter__button {
  background-color: #6ea4bf;
  border: none;
  color: #fff;
  font-size: 1rem;
  overflow: hidden;
  padding: 0.625rem 1.5rem;
  position: relative;
  transition: all 175ms ease-in-out;
}

.formatter__button::after {
  content: '';
  position: absolute;
  background: #f4fef2;
  display: block;
  margin: -120% 0 0 -100%;
  opacity: 0;
  padding: 250% 0 0 250%;
  transition: all 750ms ease-in-out;
}

.formatter__button.disabled {
  opacity: 0.5;
}

@media (hover) {
  .formatter__button.active:hover {
    background-color: #4986a5;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: translateY(-0.125rem);
  }
  .formatter__button.active:active {
    transform: translateY(0.25rem);
  }
  .formatter__button.active:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
  .formatter__button.active:focus {
    outline: none;
  }
}

.formatter__options {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.formatter__item {
  display: flex;
  align-items: baseline;
}

.formatter__item:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

.formatter__input {
  margin-right: 3.5%;
}

.header {
  text-align: center;
}

.header__title {
  font-size: 3.25rem;
  font-weight: 800;
  margin-bottom: 2%;
}

.header__tagline {
  font-size: 1.125rem;
}

.body {
  background-color: #eee;
  color: #331e36;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#root .app {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
  padding: 2%;
  height: 100%;
  width: 70%;
}
/*# sourceMappingURL=app.css.map */